body {
  text-align: center;
}

.top {
  text-align: center;
}

.middle {
  /* このクラスに対して親要素「body」の「text-align: center;」を作用させる */
  display: inline-block;
}

/* タイトルの設定 */
h4 {
  color: #c45050;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
  margin-top: 0px;
}

/* アイコンの設定 */
#drawArea {
  display: inline-block;
  margin-top: 12px;
  width: 80px;
  height: 80px;
}
#cart {
  width: 64px;
}

/* 入力欄の設定 */
.input {
  display: flex;
}

input {
  width: 320px;
  border: 2px solid;
  border-color: #c45050;
  border-radius: 6px;
  background-color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:focus {
  border: 2px solid;
  border-color: #c45050;
  background-color: #ffe3e3;
  outline: 0;
}

::placeholder {
  color: gray;
}

.i-button {
  border: 2px solid;
  border-color: #c45050;
  border-radius: 30px;
  background-color: #c45050;
  padding: 2px 24px;
  margin-left: 10px;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.i-button:hover {
  border-color: #c45050;
  background-color: white;
  color: #c45050;
  transform: translateY(-2px);
  transition: 0.3s;
}

.i-button:active,
.i-button:focus {
  border-color: #c45050;
  background-color: #c45050;
  color: white;
  transform: translateY(1px);
}

/* 補助ボタンの設定 */
.support {
  display: flex;
  justify-content: space-between;
}

.s-button {
  width: 26%;
  border: 2px solid;
  border-color: black;
  border-radius: 30px;
  border-color: #ff8080;
  padding: 2px 10px;
  margin-top: 10px;
  color: #ff8080;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.s-button:hover {
  border-color: #ff8080;
  background-color: #ff8080;
  color: white;
  transform: translateY(-2px);
  transition: 0.3s;
}

.s-button:active,
.s-button:focus {
  border-color: #ff8080;
  background-color: white;
  color: #ff8080;
  transform: translateY(1px);
}

/* メモ表示欄の設定 */
.noteArea {
  text-align: left;
  border-bottom: 2px dotted #ff8080;
  /* スライドインしてくるアニメーションのための設定 */
  display: none;
  position: relative;
  right: -100%;
}

/* 読み込んだメモ表示欄の設定 */
.noteArea2 {
  text-align: left;
  border-bottom: 2px dotted #ff8080;
  /* スライドインしてくるアニメーションのための設定 */
}

.noteLine {
  display: flex;
}

.index {
  font-size: 12px;
  color: #c45050;
  margin-bottom: 0;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.note {
  font-size: 20px;
  color: #444444;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* チェックボックスの設定 */
.checkbox {
  width: 20px;
  height: 20px;
  appearance: none; /* デフォルトスタイルを削除 */
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #ff8080;
  background-color: white;
  position: relative;
  transition: 0.3s;
}

/* チェック後 */
.checkbox:hover {
  border-color: #ff8080;
  background-color: #ff8080;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

/* チェック後 */
.checkbox:checked {
  border-color: #ff8080;
  background-color: #ff8080;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#delete {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
}

/* デリート用の×ボタンを右揃えにする */
.push {
  margin-left: auto;
  color: #ff8080;
}

.push:hover {
  transform: rotate(90deg);
  transform-origin: 50% 70%;
  transition: 0.3s;
}

.push:active,
.push:focus {
  transform: rotate(-90deg);
  transform-origin: 50% 70%;
  transition: 0.3s;
}

/* 全てを消すボタン */
.c-button {
  width: 100px;
  border: 2px solid;
  border-color: #c45050;
  border-radius: 30px;
  background-color: #c45050;
  padding: 2px 24px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.c-button:hover {
  border-color: #c45050;
  background-color: white;
  color: #c45050;
  transform: translateY(-2px);
  transition: 0.3s;
}

.c-button:active,
.c-button:focus {
  border-color: #c45050;
  background-color: #c45050;
  color: white;
  transform: translateY(1px);
}
